.hero {
	height: 500px;
	background-color: #28948e;
	background-size: cover;
	}
/* url('http://fillmurray.com/1000/1000') center center no-repeat; */
.menu-kitchen {
	background: yellow;
}

.menu-bar {
	background: azure;
}

.gallery {
	background: blue;
}

.footer {
	height: 200px;
	background: url('http://fillmurray.com/500/500') center center no-repeat;
	background-size: cover;
}

.infobar {
  margin-top: 400px;
  margin-left: 250px;
  background-color: azure;
}

.gallery {
  height: 100px;
  background: url('http://fillmurray.com/200/200') center center no-repeat;
  background-size: cover;
  color: white;
}
