.hero {
	height: 500px;
	background-color: #28948e;
	background-size: cover;
	}

.menu-dinner {
	background: white;
	background-size: contain;
}

.menu-bar {
	background: azure;
}

.menu-dessert {
	background: white;
}
.gallery,
.gallery-dinner {
	background: white;
	background-size: cover;
	background: url('http://fillmurray.com/200/200') center center no-repeat;
}

.footer {
	height: 200px;
	background: url('http://fillmurray.com/500/500') center center no-repeat;
	background-size: cover;
}

.infobar {
  margin-top: 400px;
  margin-left: 250px;
  background-color: azure;
}

.gallery-dinner {
  background-size: cover;
	
}

.menu-bar,
.menu-dessert,
.menu-dinner {
	font-size: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.menu-section-title {
	font-size: 20px;
	font-weight: lighter;
	text-transform: uppercase;
}
.menu-item-title {
	color: #28948e;
	font-size: 15px;
	font-weight: lighter;
	text-transform: uppercase;
}
.menu-item-desc {
	font-size: 13px;
}
.menu-item-pairing {
	font-size: 10px;
	color: grey;
	font: Verdana, Geneva, sans-serif;
}
.pairing-type {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: lighter;
}
.menu-item + .menu-item {
	margin-top: 15px;
}

.menu-item-desc,
.menu-item-pairing {
	font-style: italic;
	margin: 0;
}
.footer-heading {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: lighter;
}
.footer-text {
	font-size: 10px;
	font-style: italic;
}
