body {
  background-color: white;
}
p {
  font-family: "Lucinda Sans Unicode", "Lucinda Grande", sans-serif;
  font-style: normal;
  margin: 70px;
  margin-bottom: 50px;
  margin-top: 30px;
}
link {
  margin: 70px;
}
