body {
  background: white;
}
p {
  font-family: "Lucinda Sans Unicode", "Lucinda Grande", sans-serif;
  font-style: normal;
  margin: 70px;
  margin-bottom: 50px;
  margin-top: 30px;
}
h2 {
  margin-left: 70px;
  font-size: 20px
}
