img {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 250px;
}

h1 {
  margin: 0;
  font-family: gotham, proxima nova, helvetica, arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 80px;
  line-height: 1.5;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: black;
  margin: 100px;
}

h2 {
  margin: 0;
  font-family: gotham, proxima nova, helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.5;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: gray;
  margin: 100px;
}
h3 {
  margin: 0;
  font-family: gotham, proxima nova, helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.5;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: gray;
  margin: 100px;
  margin-bottom: 10px;
}

#text-image {
  height: 600px;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#larger-image {
  height: 900px;
  width: inherit;
  margin-top: 0px;
  margin-bottom: 0px;
}

#pleasework {
  height: 400px;
  width: inherit;
}
p {
  margin-left: 100px;
}
