body {
	background: white;

}
img {
	height: 200px;
}
h1 {
	margin: 0;
	font-family: gotham, proxima nova, helvetica, arial, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 100px;
	line-height: 1.5;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: black;
	margin: 100px;
}
h2 {
	letter-spacing: 0.025em;
	margin: 5em;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 20px;
}
h3 {
	letter-spacing: 0.025em;
	margin: 5em;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 20px;
}
